backups
eshell
auto-save-list
elpa

snippets/*
!snippets/web-mode
snippets/web-mode/*
!snippets/web-mode/
!snippets/web-mode/ww
!snippets/web-mode/theq
!snippets/web-mode/tdeq
!snippets/web-mode/tdd
!snippets/web-mode/strong
!snippets/web-mode/row
!snippets/web-mode/render
!snippets/web-mode/qq
!snippets/web-mode/if
!snippets/web-mode/end
!snippets/web-mode/col
!snippets/web-mode/cin

transient
places
projectile-bookmarks.eld
history.el
recentf
user_config/user.el
bookmarks
session*